Battleship
Submarine
Coordinates
Direction
<form action="/game" method="post">
  Battleship Coords
  <input type="text" name="battleshipcoords">
  Direction
  <input type="text" name="battleshipdir">
  Submarine Coordinates
  <input type="text" name="subcoords">
  Direction
  <input type="text" name="subdir">
  <input type="submit" value="Place Ships">
</form>
